body {
    color:Black;
    background-color:seashell;
    font-size:1.5em;
    font-weight:light;
    font-family:Cambria;
    border: 0.2em cyan;
    width: fit-content;
    margin: 0
}

h1, h2 {
    color:Black;
    font-style:italic;
    font-size:1.5em;
    width: fit-content;
}

p strong {
  color:darkgrey;
}

p.intro {
  font-style: italic;
  border:0.2em orangered;
  height: 0.2em;
  padding: 10px

}

p.conclusion {
  font-style: italic;
  border: 0.5em orange;
  height: 0.2em;
  padding: 20px
}

img#img1100 {
  width:10%;
}
  


a:link {
  color:orange;
  border: 0.2em blue solid;
  margin: 0
}

