body {
    color:Black;
    background-color:seashell;
    font-size:1.5em;
    font-weight:light;
    font-family:Cambria;
}

h1 {
    color:Black;
}
h2 {
  font-style:italic;
  font-size:1.5em;
  width: fit-content;
  
}

a:link {
  color:orange;
}

